<%- include('ek/header', {bot, user, path}) %>
<title>Preless - Başarılı</title>
<div class="card text-center" style="background:GREEN;margin-top:100px;">
  <div class="card-header" style="color:GREEN;background:#333">
    <i class="fas fa-check-circle"></i>Başarılı<i class="fas fa-check-circle"></i>
  </div>
  <div class="card-body" style="background:#334;color:#fff;">
    <p class="card-text"><%= text || "Yazı Bulunamadı" %></p>
    <br>
    <a href="/" class="btn btn-outline-primary">Ana Sayfa</a>
  </div>
</div>
