<br><br>
<br><br>

 <div style="background-color:#101320;text-decoration:none;">

  <img style="margin-left: 55px; margin-top: 80px; border-radius: 150px;" src="<%= bot.user.avatarURL() %>">

  <p class="neon" style="margin-left: 60px; margin-top: 30px; font-family: 'Quicksand', black; color: #0561ff; font-size: 30px;"><%= bot.user.username %></p>  

<div style="margin-left: 360px; margin-top: -190px;">
  <p style="font-family: 'Quicksand', black; color: #fff; font-size: 25px;"><i style="color: #0561ff;" class="fas fa-link"></i>  Bağlantılar</p>

    <a href="/panel"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Panel</p> </a>

    <a href="/bilgi"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Bilgi</p> </a>

    <a href="/panel"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Anasayfa</p> </a>

    <a href="/panel"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Discord</p> </a>

      <a href="/panel"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Davet Et</p> </a>

      <a href="/panel"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Oy Ver</p> </a>
</div>

<div style="margin-left: 660px; margin-top: -325px;">
  <p style="font-family: 'Quicksand', black; color: #fff; font-size: 25px;"><i style="color: #0561ff;" class="fas fa-phone"></i>  İletişim</p>

    <a href="/insta"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fab fa-instagram"></i> İnstagram</p> </a>

    <a href="/discord"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fab fa-discord"></i> Discord</p> </a>

    <a href="/youtube"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fab fa-youtube"></i> Youtube</p> </a>

    <p style="text-align: right; margin-top: 140px; margin-right: 30px; font-family: 'Quicksand', black; color: #fff; font-size: 20px;">Craoxy v1.0</p>
</div>

<br>

 <style>



 </style>